.custom-button-color-parnamirim {
  background-color: #fb9678 !important;
  color: white !important;
}

/* Estilo para redimensionar as imagens */
.custom-image {
  max-width: 200px;
  height: auto;
  display: block; /* Remover margens extras e alinhar corretamente */
  margin: 0 auto;
}

/* Estilo para o botão personalizado com a cor de fundo #03c9d7 */
.custom-button-color-natal {
  background-color: #03c9d7 !important;
  color: white !important;
}
