<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-lg-4" *ngFor="let card of patios">
      <mat-card class="overflow-hidden">
        <div>
          <img src="{{ card.imageCapa }}" class="w-100 custom-image" alt="">
        </div>
        <mat-card-content>
          <div class="text-center"> <!-- Centraliza o conteúdo horizontalmente -->
            <p class="fs-18 lh-lg fw-medium">
              {{ card.patioNome }}
            </p>
            <button mat-flat-button
            [ngClass]="getButtonClass(card.patioNome)"
            class="fw-normal mt-4">Entrar no pátio</button>
            </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
