<div class="card-body">

  <h4 class="mb-32">Excluir usuário</h4>
  <p>Você tem certeza de que deseja excluir este usuário? </p>
  <br>
  <h4 class="mb-32">{{ data.id }} - {{ data.login }}</h4>

  <!-- <button mat-raised-button color="warn" (click)="confirm()">Confirmar</button> -->
  <!-- <button mat-button (click)="cancel()">Cancelar</button> -->
  <button mat-raised-button class="me-8 mb-8" color="warn" type="submit" (click)="confirmar(data.id)">Confirmar</button>
  <button mat-raised-button class="me-8 mb-8" color="white" type="submit" (click)="cancelar()">Cancelar</button>

</div>
