.table-responsive {
  overflow-x: auto;
}

td.mat-cell {
  padding: 16px;
}

th.mat-header-cell:first-of-type,
td.mat-cell:first-of-type,
td.mat-footer-cell:first-of-type {
  padding: 16px;
}

th.mat-header-cell {
  padding: 16px;
}

.mat-header-cell {
  font-size: 14px;
}

.mat-mdc-header-cell {
  font-weight: bold;
}

.mat-raised-button {
  color: white;
}

.small-action-button {
  font-size: 14px; /* Defina o tamanho de fonte desejado */
  padding: 4px; /* Ajuste o preenchimento conforme necessário */
  min-width: auto; /* Ou ajuste o tamanho mínimo conforme necessário */
}

.custom-action-button-primary {
  background-color: #03c9d7; /* Defina a cor de fundo desejada */
  color: white; /* Define a cor do texto como branco */
}

.custom-action-button-warn {
  background-color: #d72303; /* Defina a cor de fundo desejada */
  color: white; /* Define a cor do texto como branco */
}
