<!-- <p>Protected Dashboard works.</p> -->
<!--
<a [routerLink]="['../../public/login']">Fazer login</a>
<br> -->
<!-- <a [routerLink]="['../../public/register']">Registrar Usuário</a> -->
<div class="dashboard-content">
  <!-- <app-sales></app-sales> -->
<!--
  <div class="row">
    <div class="col-lg-4">
      <app-atividades></app-atividades>
    </div>
    <div class="col-lg-8">
      <app-usuarios></app-usuarios>
    </div>
  </div> -->

  <app-usuarios></app-usuarios>

  <app-patios></app-patios>
</div>
