<!-- <app-cards></app-cards> -->
<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-lg-4" *ngFor="let patio of patioList">
      <mat-card class="overflow-hidden">
        <!-- <div>
          <img src="{{ card.imageCapa }}" class="w-100 custom-image" alt="">
        </div> -->
        <mat-card-content>
          <div class="text-center"> <!-- Centraliza o conteúdo horizontalmente -->
            <p class="fs-18 lh-lg fw-medium">
              {{ patio.nome }}
            </p>
            <button mat-flat-button
            class="fw-normal mt-4" color="primary">Entrar no pátio</button>
            </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
