<div class="carros-content" *ngIf="mostrarCarros">
  <!-- <p>ID do Pátio: {{ patioId }}</p> -->
  <button mat-flat-button
    class="fw-normal mt-4" color="primary"
    (click)="onClickMostrarPatios()">Voltar para os pátios</button>

  <div class="carros-catalog">
    <div class="carro-card" *ngFor="let carro of carroList">
      <!-- Crie um card para cada carro na lista -->
      <div class="card">
        <div class="card-body">
          <p>Modelo: {{ carro.modelo }}</p>
          <!-- Adicione outras informações do carro aqui -->
          <img *ngIf="carro.caminhoFotos && carro.caminhoFotos.trim() !== ''" [src]="removerPrefixoSrc(carro.caminhoFotos)" alt="Primeira Foto">
        </div>
      </div>
    </div>
  </div>
</div>
