<!-- Daily Activity -->
<mat-card>
  <mat-card-content>
    <h4 class="mb-60">Atividade diária</h4>
    <div class="d-flex" *ngFor="let activity of activity">
      <p class="pe-20 fw-bold ps-16 fs-12 ltr">{{ activity.time }}</p>
      <div class="activity-border">
        <div class="deep">
          <div class="activity-ring">
            <div class="ring {{ activity.ringColor }}"></div>
          </div>
        </div>
        <p class="ps-20 activity-message ltr">{{ activity.message }}</p>
      </div>
    </div>
  </mat-card-content>
</mat-card>
